body, html {
    font-family: 'Ranga', cursive;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#hero {
    background-color: #101010;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#title {
    position: absolute;
    left: 50%;
    margin-left: -248px;
    text-align: center;
    font-size: 64px;
    color: #efefef;
    z-index: 1;
}

#carousel {
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#slide-1 {
    position: relative;
    overflow: hidden;
}

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 50px;
	display: block;
	text-align: center;
	font-size: 50px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
    width: 50px;
    height: 50px;
    border-bottom: 2px solid #dfdfdf;
    border-right: 2px solid #dfdfdf;
    z-index: 9;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}